<header>
	<div class="contenedor">
		<h2 class="logotipo">INCEPTIO PLAYER</h2>
		<nav>
			<a [routerLink]="['/']" [routerLinkActive]="['text-danger', '']">Inicio</a>
			<a [routerLink]="['/carrito']" [routerLinkActive]="['activo', '']">Carrito</a>
			<a *ngIf="!loggedUser.email" [routerLink]="['/login']" [routerLinkActive]="['activo', '']">Login</a>
			<a style="cursor: pointer;" (click)="logout()" *ngIf="loggedUser.email">Salir</a>
			<a class="text-danger" style="cursor: pointer;" *ngIf="loggedUser.email">{{loggedUser.email}}</a>

		</nav>
	</div>
</header>